.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-width: 100%;
  display: flex;
  align-items: center;
}

.layout {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.center {
	align-items: center;
	 display: flex;
	 padding-bottom: 20px;
}

tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

table{
 display: -moz-groupbox;
 height: 300px;
 overflow-y: scroll;    
}
tbody{
  overflow-y: scroll;
  height: 250px;           
  width: 100%;
  display: block;
}