{% extends "base.html" %}
{% block title %}
	Error
{% endblock %}

{% block content %}
<h1>Error</h1>
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">An Error Occured</h5>
      </div>
      <div class="modal-body">
        {{ error }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Try again</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}