{% extends "base.html" %}


{% block content %}
<div class="row">
				<form class="form-inline" action="{{ url_for('index') }}" method="post">
					<button class="btn btn-outline-secondary" type="submit">New Search</button>
				</form>
				<h4 class="info">(Results are limited to a maximum of 50 lines per table.)</h4>
</div>
<div class="row center">
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
	  {% for col in speed[0] %}
      <th scope="col">{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
	  	{% for row in speed[1:] %}
    <tr class="rows">
    	{% for cell in row %}
      <td class="cells">{{ cell }}</td>
	    {% endfor %} 
    </tr>
	    {% endfor %}
  </tbody>
</table>
</div>
<div class="row center">
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
	  {% for col in availability[0] %}
      <th scope="col">{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
	  	{% for row in availability[1:] %}
    <tr class="rows">
    	{% for cell in row %}
      <td class="cells">{{ cell }}</td>
	    {% endfor %} 
    </tr>
	    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}